.bmc-button img {
  width: 27px !important;
  margin-bottom: 1px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
}

.bmc-button {
  line-height: 36px !important;
  height: 37px !important;
  text-decoration: none !important;
  color: #000000 !important;
  background-color: #ffdd00 !important;
  border-radius: 3px !important;
  border: 1px solid transparent !important;
  padding: 1px 9px !important;
  letter-spacing: 0.6px !important;
  box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -o-transition: 0.3s all linear !important;
  -webkit-transition: 0.3s all linear !important;
  -moz-transition: 0.3s all linear !important;
  -ms-transition: 0.3s all linear !important;
  transition: 0.3s all linear !important;
  position: relative;
}

.bmc-button span {
  font-size: 22px !important;
  font-family: 'Cookie', cursive !important;
}

.mobile-cta,
.contact-coffee {
  display: block !important;
  width: 175px;
  margin: 0 auto 50px !important;
}

.contact-coffee {
  margin-top: 65px !important;
}

.large-screens-cta {
  display: none;
}

.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  text-decoration: none !important;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  opacity: 0.85 !important;
  color: #000000 !important;
}

@media (min-width: 576px) {
  .mobile-cta {
    display: none !important;
  }

  .large-screens-cta {
    display: inline-flex !important;
    margin: 0 25px 0 auto !important;
  }
}

@media (min-width: 992px) {
  .large-screens-cta {
    margin-right: 50px;
  }
}
