.main-jumbotron {
  padding: 6rem 2rem 4rem;
  background-image: url('../../assets/img/ikiz-festival.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 60vh;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(7, 7, 7, 0.562);
}

.welcoming-wrapper {
  position: absolute;
  width: 90%;
  color: #fff;
  text-align: center;
  max-width: 100%;
  padding-left: 0;
  left: 6%;
}

.welcoming-title {
  font-size: 2rem;
}

.category-cta {
  background-color: var(--blue-estonia);
  flex-basis: 45%;
  margin-top: 25px;
  border-radius: 10px;
  border: 1px solid #fff;
}

.category-cta a {
  display: block;
  padding: 5px 0;
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
}

.main-jumbotron .active {
  border-radius: 10px;
}

.category-cta:hover {
  background-color: #e5ecf1;
  color: var(--blue-estonia);
}

.category-cta a:hover {
  color: var(--blue-estonia);
  background-color: #e5ecf1;
  border-radius: 10px;
}

.justify-content-center {
  flex-direction: column;
}

/********* Media queries ********/

@media (min-width: 768px) {
  .main-jumbotron {
    padding-top: 8em;
    height: 50vh;
  }

  .welcoming-title {
    font-size: 2.5rem;
  }

  .justify-content-center {
    flex-direction: row;
  }

  .category-cta {
    max-width: 329px;
  }

  .category-cta:first-child {
    margin-right: 5%;
  }
}
