:root {
  --blue-estonia: #0072ce;
  --green-success: rgb(29, 167, 1);
  --red-error: rgb(190, 0, 0);
}

* {
  font-family: 'Aleo', serif;
  letter-spacing: 1.25px;
}

.results-container {
  padding: 20px 0;
}

.centered {
  text-align: center;
}

.isHidden {
  display: none;
}

.full-vh-height {
  min-height: calc(100vh - 121px);
}

/********* Icons *********/

.danceEstoniaWt-container {
  width: 281px;
  height: 75px;
  display: none;
}

.danceEstoniaWt-logo-group {
  transform: translate(15px, 17.5px) scale(2.5);
}

.calendar,
.clock,
.tickets,
.website,
.venue {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  margin-top: 5px;
}

.couple-dancing,
.hotel {
  width: 25px;
  height: 25px;
  margin-right: 7px;
  margin-top: 1.5px;
}

.facebook {
  width: 20px;
  height: 20px;
}

.mark {
  height: 27.5px;
  width: 27.5px;
  margin-left: -2.5px;
  margin-right: 6.5px;
  background-color: #fff;
}

.no-margin-top {
  margin-top: 0;
}

/********* Welcoming loader *********/
.main-loader {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  color: var(--blue-estonia);
  position: fixed;
  top: 75px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000000000;
}

.loader-logo-container {
  display: flex;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  flex-wrap: wrap;
  flex-direction: column;
}

.danceEstoniaBl-container {
  width: 310px;
  height: 75px;
}

.danceEstoniaBl-logo-group {
  transform: scale(3);
}

.teaser {
  font-size: 28px;
  margin-top: 5vh;
}

/********* Results Container *********/
.results-title {
  margin-bottom: 25px;
}

.no-results-message h3 {
  padding: 25px 0;
}

/********* Footer *********/

.footer {
  padding: 20px;
  border-top: 1px solid var(--blue-estonia);
  background-color: var(--blue-estonia);
}

.copyright {
  margin: 0;
  color: #fff;
}

.copyright span {
  margin-left: 5px;
}

/******** Media queries *******/

@media (min-width: 576px) {
  .danceEstoniaBl-container {
    width: 450px;
  }

  .danceEstoniaBl-logo-group {
    transform: scale(3.5);
  }
}

@media (min-width: 992px) {
  .danceEstoniaWt-container {
    display: initial;
  }

  .danceEstoniaBl-logo-group {
    transform: scale(4.5);
  }
}
