:root {
  --blue-estonia: #0072ce;
}

* {
  font-family: 'Aleo', serif;
  letter-spacing: 1.25px;
}

.results-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.centered {
  text-align: center;
}
