.result-card {
  margin-bottom: 25px;
  max-height: 430px;
  max-width: 400px;
}

.result-card a {
  color: #000;
}

.result-card:hover {
  box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.2);
}

.result-card a:hover {
  text-decoration: none;
}

.result-card-img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 36px));
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 36px));
  max-height: 226px;
}

.result-card-body {
  padding-top: 0;
}

.result-card-details {
  position: relative;
  margin-bottom: 0;
  padding-top: 5px;
}

.result-card-details::before {
  content: ' ';
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: var(--blue-estonia);
  position: absolute;
  top: -7.5px;
}

.result-card-data {
  margin: 2.5px 0;
}

p.result-card-data,
p.result-card-details {
  margin-top: 5px;
  margin-bottom: 5px;
}
