.event-img {
  min-height: 350px;
}

.event-details-main-container {
  padding: 0 25px 25px;
}

.breadcrumbs-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.calendar.event-calendar,
.clock.event-clock,
.tickets.event-ticket,
.website.event-website,
.venue.event-venue,
.hotel.event-hotel,
.couple-dancing.event-couple {
  margin-top: 0;
}

.mark.event-mark {
  margin-top: -1.5px;
}

.event-details-table {
  table-layout: fixed;
}

.event-details-table td {
  padding: 3px 3px 6px;
  border-top: none;
  word-wrap: break-word;
}

.event-details-table td:first-child {
  width: 25px;
}

.ticket-url {
  margin-left: 10px;
}

.event-description {
  margin: 25px 0;
}

.event-map {
  margin-top: 25px;
}

/*** Breacrumb***/
.breadcrumb {
  padding-left: 30px;
  background-color: #fff;
  padding-bottom: 0;
}

/******* Media queries *******/
@media (min-width: 992px) {
  .event-img {
    height: 55vh;
  }

  /*** Breacrumb***/
  .breadcrumb {
    padding-left: 50px;
    margin: 0 auto;
  }
}
