.navigation-tabs {
  border: 1px solid red;
  color: var(--blue-estonia);
}

.tab-link .active {
  background-color: var(--blue-estonia);
  color: #fff;
}

.tab-link a {
  display: block;
  border: 1px solid yellow;
}

.tab-link a:hover {
  background-color: var(--blue-estonia);
  color: #fff;
  text-decoration: none;
}
