.navigation-tabs {
  color: var(--blue-estonia);
  border-bottom: none;
}

.tab-link .active {
  border: 1px solid var(--blue-estonia);
  border-bottom: none;
}

.tab-link a {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid var(--blue-estonia);
}

.tab-link a:hover {
  border: 1px solid var(--blue-estonia);
  text-decoration: none;
}

/********* Media queries ********/

@media (min-width: 768px) {
  .navigation-tabs {
    max-width: 690px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .navigation-tabs {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .navigation-tabs {
    max-width: 80%;
  }
}
