.navigation-tabs {
  color: var(--blue-estonia);
}

.tab-link .active {
  border: 1px solid var(--blue-estonia);
  border-bottom: none;
}

.tab-link a {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid var(--blue-estonia);
}

.tab-link a:hover {
  border: 1px solid var(--blue-estonia);
  border-bottom: none;
  text-decoration: none;
}
