.header-container {
  padding: 0;
  padding-right: 15px;
  padding-bottom: 5px;
  height: 75px;
}

.dance-estonia-logo-container {
  padding-top: 0;
  padding-bottom: 0;
}

.menu-container {
  width: auto;
  margin-right: 0;
  margin-left: auto;
}

.dancing-couple-logo {
  margin-left: 15px;
  padding-right: 15px;
}

.dance-estonia-logo {
  display: none;
}

#basic-navbar-nav {
  margin-top: 8px;
  padding-left: 20px;
}

.main-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.navbar {
  background-color: var(--blue-estonia);
}

.custom-dropdown-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.dropdown-item:hover {
  background-color: var(--blue-estonia) !important;
  color: #fff !important;
}

.dropdown-item.active {
  background-color: initial;
  color: initial;
}

.main-nav-link {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 10px;
}

.main-nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

/********* Media queries ********/

@media (min-width: 768px) {
  .header-container {
    padding: 0;
  }

  .menu-container {
    width: auto;
    margin-right: 0;
  }

  .main-nav-link {
    margin-left: 10px;
  }

  #basic-navbar-nav {
    padding-left: 0;
  }

  .basic-nav-dropdown.events,
  .basic-nav-dropdown.festivals,
  .main-nav-link {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .dancing-couple-logo {
    display: none;
  }
}
