.navbar {
  background-color: var(--blue-estonia);
}

.custom-dropdown-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.dropdown-item:hover {
  background-color: var(--blue-estonia) !important;
  color: #fff !important;
}

.dropdown-item.active {
  background-color: initial;
  color: initial;
}
